*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background: url(https://wallpaperaccess.com/full/1204217.jpg) no-repeat center center/cover;
    position: relative;
    height: 100vh;
}

.opice{
    backdrop-filter: blur(5px);
    border: #48d383d1 1px solid;
}

.login-page .login form{
    display: flex;
    width: 70%;
    height: 70%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    border-radius: 30px;
}

.login-page .login form .login-photo{
    width: 60%;
    height: 100%;
    border-radius: 30px 0 0 30px; 
}

.login-page .login form .login-photo img{
    height: 60px;
    padding-left: 50px;
}

.login-page .login form .login-texte{
    padding: 20px 0 0 20px;
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 40%;
    height: 100%;
    align-items: center;
    border-left: #48d383d1 2px solid;
}

.login-page .login form .login-texte h1{
    color: azure;
    margin-bottom: 10px;
    font-size: 45px; 
    z-index: 10;
}

.login-page .login form .login-texte p{
    color: beige;
    margin-bottom: 40px;
    font-weight: bold;
    font-size: 18px;
    z-index: 11;
}

.login-page .login form .login-texte input{
    width: 250px;
    height: 40px;
    outline: none;
    padding: 5px;
    margin-bottom: 50px; ;
    border: none;
    border-radius: 20px; 
    z-index: 12;
}

.login-page .login form .login-texte a{
    margin-bottom: 40px;
    z-index: 111;
}

.login-page .login form .login-texte button{
    width: 80px;
    height: 30px;
    border: none;
    border-radius: 15px;
    background-color: #48d383d1; 
    z-index: 1111;
    cursor: pointer;
}